body {
  font-family: "Raleway", sans-serif;
  margin: 0px 40px;
  padding: 0px;
  box-sizing: border-box;
}

.margin-top {
  margin-top: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.logo {
  height: 19px;
}

.nav-hover {
  background: white;
  height: 2px;
}

.container-nav1:hover .nav1-hover {
  background: #0065fc;
}

.container-nav2:hover .nav2-hover {
  background: #0065fc;
}

.container-nav1:hover .nav1 {
  color: #0065fc;
}

.container-nav2:hover .nav2 {
  color: #0065fc;
}

.nav1-hover {
  width: 162px;
}

.nav2-hover {
  width: 112px;
}

nav {
  display: flex;
  gap: 10px;
  height: 100%;
}

.container-nav1,
.container-nav2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav {
  margin-bottom: 40px;
  color: black;
}

h1,
h2 {
  font-weight: 700;
  font-size: 22px;
  cursor: default;
  margin: 0px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  cursor: default;
}

form {
  display: flex;
  height: 50px;
  align-items: center;
}

form .i-container {
  height: 100%;
  padding: 0px 15px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-items: center;
}

#localisation {
  height: 48px;
  border: 1px solid #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  padding-left: 10px;
}

#envoiLocalisation {
  height: 100%;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
}

.filtres {
  display: flex;
  gap: 30px;
  height: 40px;
  cursor: default;
  align-items: center;
}

.filtres-card {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 0px 15px;
}

.filtres i {
  color: #0065fc;
}

h4 {
  font-weight: 700;
  font-size: 17px;
}

.filtres-card:hover {
  background: #deebff;
}

em,
main a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.info {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
}

.info i {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  color: #0065fc;
  padding: 12px 10px;
}

.main-container {
  gap: 30px;
  display: flex;
}

main {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 40px;
  flex: 2;
}

aside {
  flex: 1;
  background: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin: 30px 0px;
}

.card-main {
  height: 200px;
  width: 240px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main img {
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
  object-position: center;
  object-fit: cover;
  height: 60%;
}

.star-full {
  color: #0065fc;
}

.star-empty {
  color: #f2f2f2;
}

.name-hotel {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  padding-left: 16px;
}
.price-hotel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  padding-left: 16px;
}

.rating {
  margin: 0px;
  padding: 0px;
  padding-left: 16px;
}

aside {
  padding: 40px;
}

.top-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside i {
  color: #0065fc;
}

.card-aside {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 140px;
  width: 100%;
  display: flex;
}

aside img {
  border: 5px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
  width: 50%;
  object-position: center;
  object-fit: cover;
  display: flex;
}

.card-aside-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info-card-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 10px;
}
